*{
 padding: 0;
 margin: 0;
 font-family: 'Golos Text', sans-serif;
}

body{
 background-color: #EEEEEE;
}
a{
 text-decoration: none;
 color: black;
}

nav{
 position: fixed;
 background-color:#191825;
 width: 20%;
 height: 100vh;
 text-align: center;
}

.sidebar{
 background-color: aliceblue;
 margin-left:-1rem ;
 padding: 0.8rem 8rem 0.8rem 1rem;
 border-radius: 8px;
 color: rgb(0, 0, 0);
 transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.sidebar:hover{
 background-color: #865DFF;
 color: white;
}

nav li{
 padding-top: 3rem;
 transform: translateY(2rem);
}

#logo{
 padding-top: 1rem;
 margin-left: -7rem;
}

#LogOutBtn{
 transform: translateY(11rem);
 transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

#login{
  background-color: aliceblue;
  margin-left:-1rem ;
  padding: 0.8rem 8.5rem 0.8rem 1rem;
  border-radius: 8px;
  color: rgb(0, 0, 0);
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  position: relative;
  top: 9rem;
  cursor: pointer;
}

#login:hover{
  background-color: #087d54;
  color: white;
}

#LogOutBtn a:hover{
 background-color: rgb(217, 25, 25);
 color: white ;
}

#Profile{
 width: 80%;
 border-radius: 8px;
 padding: 1px 10px 25px 0px;
 color: white;
 transform: translate(1rem,12rem);
 cursor: pointer;
}

#Profile img{
 border-radius: 50%;
 transform: translate(-0.5rem,1rem);

}

#Profile:hover{
 background-color: #3c3b4b7f;
}

.PostsContainer{
 position: relative;
 left: 20%;
 height: 100vh;
 width: 80%;
}
.Post{
 background-color: rgb(255, 255, 255);
 box-shadow: 6px 6px 21px -5px;
 border-radius: 8px;
 width:60% ;
 height: 137%;
 overflow: hidden;
 position: relative;
 left: 25%;
 top: 1rem;

}

.Post hr{
 transform: translate(0.5rem,4rem);
 background-color: #868687af;
 border-radius: 10px;
 width: 98%;
 margin-top:1rem ;
 border: none;
 outline: none;
 height: 2px;
}

.PostUser img{
 border-radius: 50%;
 transform: translate(1.5rem,0.8rem);
 cursor: pointer;
}

.PostUser span{
 position: relative;
 left: 1.7rem;
 cursor: pointer;
}

.postImage{
 width: 100%;
 max-height: 400px;
 transform: translateY(1rem);
}

.comments{
 color: black;
 position: relative;
 right: 4rem;
 top: 3.5rem;
}

.tag{
 background-color: #191825;
 color: white;
 border-radius: 8px;
 padding:0.3rem 1rem 0.3rem 1rem ;
 position: relative;
 right: 2rem;
 top: 3.5rem;
}

#CommentsContainer{
 width: 90%;
 transform: translate(1rem,5rem);
 background-color: #61959736;
 padding: 1rem;
 border-radius: 10px;
}
#CommentsContainer img{
 transform: translateY(0.8rem);
 width: 35px;
 border-radius: 50%;
}

.commentText{
 position: relative;
 top: 0.8rem;
 /* left: 1rem; */
 font-size: 13px;
}